body {
    font-family: Helvetica, Arial, sans-serif;
}

/* pseudo seletores */

a:hover {
    color: lightblue;
}

input:hover {
    background-color: lightgray;
    border-color: darkgray;
}

textarea:focus {
    height: 90px;
    width: 100px;
}

/* Outros pseudo seletores :first-of-type :last-of-type :nth-child()*/

header {
    border: 3px solid gray;
    padding: 30px;
    margin: 30px;
}

main {
    border: 3px solid gray;
    padding: 30px;
    margin: 30px;
}

div {
    border: 3px solid gray;
    padding: 30px;
    margin: 30px;
}

footer {
    border: 3px solid gray;
    padding: 30px;
    margin: 10px;
}

section {
    border-top: 2px dotted gray;
    border-bottom: 2px dotted gray;
}

article {
    padding: 20px;
    margin: 20 px 0;
    background-color: lemonchiffon;
}

span {
    background-color: purple;
}